.sidebarChat {
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
 background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 16px;
}

.sidebarChat__info > p {
    margin-bottom: 6px;
}

.sidebarChat__info {
   margin-left: 15px;
}
.sidebar__component{
    display: flex;
    flex-direction: row;
    align-items: center;
}